#map {
    width: 100%;
    height: 500px;
    border: solid 1px #CCCCCC;
    background-color: #eeeeee;
}

#entity-details {
    width: 100%;
    border: solid 1px #CCCCCC;
}

#entity-details .inner {
    padding: 10px;
}

.floating-title {
    text-align: center;
    text-transform: uppercase;
    color: #999999;
}

.floating-title h5 {
    margin-bottom: 0px;
}

.realted-entities {
    margin-top: 10px;
}

.related-item {
    border-bottom: solid 1px #CCCCCC;
    border-top: solid 1px #CCCCCC;
}

.date {
    color: #aaa;
    font-size: 12px;
}

.axis path, .axis line {
    fill: none;
    stroke: black;
}

#timeline{
    font-family: Arial, sans-serif;
    font-size: 10px;
}

.playback {
    z-index: 10000;
    position: relative;
    top: 250px;
    padding: 10px;
    background: rgba(255,255,255,0.8);
    border: solid 1px rgba(255,255,255, 1.0);
}

a.playback:hover {
    background-color: rgba(70, 130, 180, 0.30);
    border: solid 1px rgba(70, 130, 180, 0.35);
}

.playback[data-action="prev"] {
    float: left;
    left: 1px;
}

.playback[data-action="next"] {
    float: right;
}

.hover-window{
    position:absolute;
    width:150px;
    font-family: Helvetica,sans-serif;
    font-size:12px;
    text-align: center;
    padding:5px;
    background-color:rgb(255,255,255);
    background-color:rgba(255,255,255,.85);
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    behavior: url(border-radius.htc);
    z-index:99999;
    display: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}